/* BASICS */
body {
  font-family: arial;
  font-size: 12pt;
}

a {
  color: #123456;
}

h1, h2, h3, h4, h5 {
  margin: 0px;
  padding: 0px;
}

/* MAJOR ELEMENTS */
#page {
  width: 600px;
  margin: 0px auto;
}

#menu {
  overflow: auto;
  zoom: 1;
  padding: 0px;
  margin: 0px;
  list-style: none;
}

#menu li {
  float: left;
  margin: 0px 2px;
}

#menu li a {
  border-color: #e8dfac;
  border-style: solid;
  border-width: 1px 1px 0px 1px;
  background-color: #fffdca;
  display: block;
  padding: 5px 10px;
}

#menu a:focus { outline: none; }

#demo-link #link-tab a,
#groups-new #new-group-tab a,
#groups-create #new-group-tab a,
#groups-edit #edit-group-tab a,
#groups-update #edit-group-tab a,
#demo-ajax #ajax-tab a {
  background-color: #a18e69;
  border-color: #a18e69;
  color: #fff;
}

#example {
  padding: 10px 5px;
  background-color: #fffcf2;
  border: 1px solid #a18e69;
}

#explanation {
  border: 1px dashed #a18e69;
  padding: 7px 3px;
  background-color: #fff;
  margin-top: 15px;
}

#loading-area {
  border: 1px solid #a18e69;
  background-color: #fffdca;
  padding: 3px;
}

#loading-area #explanation {
  display: none;
}

/* custom RecordSelect - User */
.user_description {
  overflow: auto;
  zoom: 1;
}
.user_description img {
  float: left;
  padding: 7px;
}
.user_description p {
  font-weight: bold;
  font-size: 1.1em;
}
.user_description label {
  float: left;
  font-size: 0.8em;
  font-weight: normal;
}