<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
  <title>RecordSelect Demo</title>
  <%= javascript_include_tag :defaults %>
  <%= record_select_includes %>
</head>
<body>
<div>
  <%= link_to 'Form Helper', :controller => 'users', :action => 'form' %>
  <%= link_to 'Link Helper', :controller => 'users', :action => 'link' %>
</div>
<%= yield %>
</body>
</html>