<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
  <title>RecordSelect Demo</title>
  <%= stylesheet_link_tag 'main' %>
  <%= javascript_include_tag :defaults %>
  <%= record_select_includes %>
</head>
<body id="<%= params[:controller] %>-<%= params[:action]%>">
  <div id="page">
    <ul id="menu">
      <li id="new-group-tab"><%= link_to 'New Group Form', new_group_path %></li>
      <li id="edit-group-tab"><%= link_to 'Existing Group Form', edit_group_path(Group.find(:first)) %></li>
      <li id="link-tab"><%= link_to 'Link Helper', link_url %></li>
      <li id="ajax-tab"><%= link_to 'AJAX loading', ajax_url %></li>
    </ul>

    <div id="example">
      <%= yield %>
    </div>
  </div>
</body>
</html>