<div class="user_description">
  <%= image_tag "avatar#{(rand * 1000).to_i % 4}.jpg" %>
  <p>
    <%= record.username %>
    <label><%= record.last_name %>, <%= record.first_name %></label>
  </p>
</div>